.goals-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../components/images/goals1.jpg");
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 120px;
    margin-top: 120px;
}

h1,
h3 {
    text-align: center;
    color: #333;
}

.goal-entry {
    font-size: 18px;
  margin-bottom: 20px;
  color: #181818;   
}

.goal-entry textarea {
    width: 100%;
  height: 120px;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  background: linear-gradient(180deg, #fafafa, rgb(163, 180, 236));
  border: 1px solid #ccc;
  resize: vertical;
  box-sizing: border-box;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.3),
    inset 0 -2px 2px rgba(255, 255, 255, 0.4);
}

.goal-section {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px;  
}

.goal-text {
    font-weight: bold;
    color: #444;
}

.goal-section h3 {
    color: #444;
    margin-bottom: 1rem;
}

.goal-section ul {
    list-style-type: none;
    color: #444;
    padding: 0;
}

.goal-section li {
    border-radius: 8px;
    background: linear-gradient(180deg, #fafafa, rgb(163, 180, 236));
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.goal-section li p {
    margin: 0.5rem 0;
}

.goal-section li em {    
    color: #555;
}

.goal-celebration {
    text-align: center;
    font-size: 1.2rem;
    color: #4caf50;
    margin-top: 1rem;
    animation: fadeInOut 3s ease-in-out;
}

.button {
    background-color: rgba(224, 234, 232);
    border: none;
    color: rgba(94, 94, 94);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2%;
    margin-top: 10px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.3),
        inset 0 -2px 2px rgba(255, 255, 255, 0.4);
    background: linear-gradient(to bottom, rgba(251, 246, 246) 0%, #a8c3a0 60%);
}

.button:hover {
    background-color: #a8c3a0;
}

.goal-celebration {
  text-align: center;
  font-size: 1.2rem;
  color: #4caf50;
  margin-top: 1rem;
  animation: fadeInOut 3s ease-in-out;
}


@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(0.95); }
    10% { opacity: 1; transform: scale(1.05); }
    90% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.95); }
}