.moodBox {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    margin: 2rem auto;
    text-align: center;
}

.moodHeader {
    font-size: 1.6rem;
    color: #6d6875;
    margin-bottom: 1.5rem;
}

.emojiRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    height: 3rem;
    padding: 0;
}

.emojiItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9rem;
    color: #6d6875;
}

.moodSlider {
    width: 100%;
    margin: 0;
    padding: 0;
    accent-color: #ffb4a2;
    appearance: none;
    margin-bottom: 2rem;
}

.moodSlider::-webkit-slider-runnable-track {  
    background: #ddd;
    border-radius: 10px;
}

.moodSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffb4a2;
    border-radius: 50%;
    cursor: pointer;
}

.moodSlider::-moz-range-track {
    height: 4px;
    background: #ddd;
    border-radius: 2px;
}

.moodFeedback {
    font-size: 1.3rem;
    padding: 1rem;
    color: #6d6875;
}

.emojiNumberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}
.numberRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4px;
}

.numberRow span {
    font-size: 1rem;
    color: #6d6875;
}

.moodSubmitButton {
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.moodHistoryBox {
    background-color: #fff;
    padding: 12rem;
    margin-top: 2rem;
    width: 75%;
    border-radius: 12px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.moodHistoryBox h3 {
    font-size: 1.4rem;
    color: #6d6875;
    margin-bottom: 1rem;
}

.recharts-default-tooltip {
    background: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
    padding: 6px !important;
    color: #6d6875 !important;
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
    stroke: #f1e9e9;
}

.recharts-line {
    stroke-linecap: round;
}

.moodHistoryWrapper {
  margin-top: 2rem;
  width: 100%;
}

.chartInnerContainer {
  width: 100%;
  height: 300px;

  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  /* Critical fixes */
  overflow: hidden;
  box-sizing: border-box;
}